.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.home {
  margin-top: 2rem;
}


.product {
  margin-bottom: 2rem;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}


.pagination li {
  margin-right: 1rem;
}


.active {
  color: #007bff;
}

.about {
  margin-top: 2rem;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.info svg {
  margin-right: 1rem;
}

.info h2 {
  margin-bottom: 0.5rem;
}

.register {
  margin-top: 2rem;
}

.register h1 {
  margin-bottom: 1rem;
}

.register .form-group {
  margin-bottom: 1.5rem;
}

.register .form-label svg {
  margin-right: 1rem;
}

.register .form-control {
  width: 100%;
}


.profile {
  margin-top: 2rem;
}

.profile h1 {
  margin-bottom: 1rem;
}

.profile .card {
  margin-bottom: 1.5rem;
}

.profile .list-group-item svg {
  margin-right: 1rem;
}
